// Specific CSS for your home-page
body {
  background-image: url("background-1.jpg");
  background-size: 500px;
}

.container {

}

.about-us {
  text-align: center;
  color: #58585b;
  margin-top: 25px;
  // background-image: url("background-1.jpg");
  // background-size: 700px;

}

.how-to {
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 10px 0px;
  align-items: center;
  justify-content: end;
  img {
    width: 300px;
    margin: 20px;
  }
  padding-bottom: 20px;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FF8400 !important;
  height: 200px;
  h3 {
    color: white;
  }
  a {
    color: #FF8400;
  }
}
