// Specific CSS for your home-page
body {
  background-color: #f2f2f2;
  background-size: 500px;
}

.container {

}

.about-us {
  text-align: center;
  color: #58585b;
  margin-top: 25px;
  // background-image: url("background-1.jpg");
  // background-size: 700px;

}

.how-to {
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 10px 0px;
  align-items: center;
  justify-content: end;
  img {
    width: 300px;
    margin: 20px;
    height: 250px;
  }
  padding-bottom: 20px;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFb200 !important;
  height: 200px;
  h3 {
    color: white;
  }
  a {
    color: #FFb200;
  }
}

.call-to-action-host {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: image-url("background-1.jpg") !important;
  background-size: 500px;
  height: 100px;
  h4 {
    color: #58585b;
  }
  a {
    color: #58585b;
    text-decoration: none;
  }
}

.new-event {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 100px;
  h3 {
    color: #FFb200;
  }
  a {
    color: #FFb200;
  }

}


.typeform-widget {
  background-color: red;
  width: 50%;
  margin: 0 auto;
  height: 500px;
}
