// Specific CSS for your home-page
.container {
  background-color: #ffffff;
}

.about-us {
  text-align: center;
  color: #909090;
  margin-top: 25px;
  background-color: white;
}

.how-to {
  background-color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 10px 0px;
  align-items: center;
  justify-content: end;
  img {
    width: 220px;
    margin: 20px;
  }
  padding-bottom: 20px;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FF8400 !important;
  height: 200px;
  h3 {
    color: white;
  }
  a {
    color: #FF8400;
  }
}
