  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 0%), url('/assets/garnish-potatoes.jpeg'); height: 400px;"">
    <div class="banner-content">
      <h1>Find a Potluck Club Event Near You!</h1>
    </div>
  </div>

<div class="container cards">
  <div class="row">
    <% @events.each do |event| %>
    <div class="col col-xs-12 col-sm-4">
      <%= link_to event_path(event), class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/image-1.jpg');">
      <% end %>
        <div class="card-experience"><%= event.event_name %></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
