<!-- Text in front of banner photo -->
<div class="about-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>About Us</h1>
  </div>
</div>

<div class="container-about-page">
  <div class="our-story-text">
      <h2>Our Story</h2>

      <blockquote>"Cooking is all about people. Food is maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people get together to eat." <br> – Guy Fieri</blockquote>

      <p>Here at The Potluck Club we function on one core belief: food and people are inseparable and play an essential role in building communities.</p>

      <p>Not only that, we believe that food is an important vehicle that represents our cultures and our identities. By sharing our food with others, we share a part of ourselves and get a little closer to each other. This is the feeling we want everyone to have access to.</p>

      <p>After moving to Shanghai in 2016, Victoria Poon, founder and CEO, hosted her first potluck for Christmas Eve when she couldn't be with her family. The joy this brought to everyone drove her to establish The Potluck Club in March 2017.</p>

      <p>So far there have been 6 potluck gatherings in Shanghai, and the community has brought together people from 28 different countries. Now we are on a mission to grow this movement globally, and get people around the world hosting or joining a potluck to get a little bit closer to their local communities.</p>

      <p>Join in and show us what you can bring to the table!</p>
  </div>
</div>

<!-- Our Sustainability Mission -->
<div class="container-about-page">
  <div class="our-story-text">
    <h2>Our Sustainability Mission</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="how-to">
          <h3>[Mission 1 icon]</h3>
          <%#= image_tag "illustration-02.svg" %>
          <p>Mission Statement &amp; Explanation</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-to">
          <h3>[Mission 2 icon]</h3>
          <%#= image_tag "illustration-04.svg" %>
          <p>Mission Statement &amp; Explanation</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-to">
          <h3>[Mission 3 icon]</h3>
          <%#= image_tag "illustration-06.svg" %>
          <p>Mission Statement &amp; Explanation</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Team -->
<div class="container-about-page">
  <div class="our-story-text">
    <h2>Our Team</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="how-to">
          <h3>[image goes here]</h3>
          <%#= image_tag "illustration-02.svg" %>
          <p>Victoria Poon, Founder &amp; CEO</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-to">
          <h3>[image goes here]</h3>
          <%#= image_tag "illustration-04.svg" %>
          <p>Ryan Kretch, Web Designer &amp; Developer</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-to">
          <h3>[image goes here]</h3>
          <%#= image_tag "illustration-06.svg" %>
          <p>Harrison Kim, Web Designer &amp; Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>

