<!-- Text in front of banner photo -->
<div class="about-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dofuzeof4/image/upload/v1523438609/1577966486_oq2odk.jpg');">
  <div class="banner-content">
    <h1>FAQ</h1>
  </div>
</div>

<div class="container-about-page">
  <div class="our-story-text">
<h3>How do I host a potluck?</h3>

<p>All you have to do is pick a date and a location. Feel free to get creative! You can hold it in your own home, at the local community centre, a park, a co-working space – the list is endless! In addition, you can choose different themes, formats, or even plug into different holidays and festivals. Once you pick a date and location, let us know and we will add it to our platform so we can create the event and share it with any potential joiners!</p>

<h3>Why should I host a potluck?</h3>

<p>Potlucks are a great way to get everyone cooking, to come together over food and truly connect. You never know where each conversation can take you, whether it be finding out more about another culture, getting a new recipe or finding your next business partner. You will also be part of a food movement that seeks to break down social and cultural barriers.</p>

<h3>What happens after I sign up to become a host?</h3>

<p>Once you sign up to become a host we will reach out to you and confirm details and have a quick chat!</p>

<h3>Can I invite my friends?</h3>

<p>Definitely! We encourage hosts to hold events that help build up their local community, and sometimes this starts with friends inviting friends of friends and their friends. If you feel more confident you can host a potluck within a community you are new to, especially if it is for a cause you care about. Just make sure to have them sign up for the event through our website so you can track joiners!</p>

<h3>How do I ensure food safety?</h3>

<p style="margin-bottom: 50px;">Our general guideline is to keep hands, utensils, appliances and surfaces clean during cooking. Please ensure separation of cooked and raw foods. Cooking food to recommended temperatures is also a must and so is keeping foods chilled, and sealed before transportation. Hot foods should be transported and eaten as soon as possible. For more extensive food safety guidelines please read the <a href="https://www.fsis.usda.gov/shared/PDF/Cooking_for_Groups.pdf">USDA's Cooking for Groups Guide to Food Safety</a></p>
  </div>
</div>
