<!-- banner -->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 0%), url('/assets/food-salad-dinner-eating.jpg');">
    <div class="banner-content">
      <h1>Breaking down social and cultural barriers through food</h1>
      <p><em>Community-driven food events</em></p>
      <a class="btn btn-primary btn-lg round-corner">Join Us</a>
    </div>
  </div>
