.event-info-card {
  background: white;
  position: relative;
  text-align: center;
  z-index: 1000;
  display: block;
  top: -8em;
  height: 400px;
  -webkit-box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.43);
  -moz-box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.43);
  box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.43);
  color: #58585b;
  h3 {
    font-size: 22px;
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
  }
  h6 {
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 992px) {
  .event-info-card {
    height: 700px;
  }
}




.date-show {
  z-index: 1;
  background: #FFB200;
  width: 60px;
  height: 60px;
  padding: 12.5px 0;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  line-height: 2.4vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .day {
    font-size: 18px;
  }
  .month {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.container-shortened {
  height: 300px;
}

.event-details {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}
