.footer {
  background: #58585b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 210px;
  padding: 0px 50px;
  color: white;
  margin-bottom: 10px;
  width: 100%;
}

.footer-logo-slogan {
  text-align: center;
  p {
    padding-top: 5px;
    font-style: italic;
  }
}

.footer-addt-links {
  &:last-of-type {
    margin-right: 30px;
  }
  h5 {
    color: #FF8400;
  }
  p {
    font-size: 14px
  }
  padding-left: 20px;
  line-height: 80%;
}

.social-icons {
  color: #FF8400;
  display: flex;
  justify-content: space-between;
}

.copywrite {
  font-size: 10px;
  text-align: center;
  padding-top: 3px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

